<langex-chatbot-para>{{ hello_msg }}</langex-chatbot-para>
<langex-chatbot-para>{{ feature_intro }}</langex-chatbot-para>
{% if features %}
<langex-chatbot-features> 
  {% for _, f in features.items() %}
    <langex-chatbot-feature>
      <feature-name> {{ f["name"] }} :</feature-name> <langex-chatbot-span> {{ f["description"] }} </langex-chatbot-span>
      <feature-example>
        <langex-chatbot-title>Example:</langex-chatbot-title>
        <langex-chatbot-span>  {{f["example"]}}</langex-chatbot-span>
      </feature-example>
      <feature-note>{{f["addition_note"]}}</feature-note>
    </langex-chatbot-feature>
  {% endfor %}
</langex-chatbot-features>
{% endif %}